@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
    --font-family: 'Quicksand', sans-serif;
    --font-weight-text: 400;
    --font-weight-title: 700;

    --color-primary: #9BA4B5;
    --color-secondary: #394867;
    --color-tertiary: #212A3E;
    --bg-color: linear-gradient(180deg, var(--color-secondary), 80%, var(--color-primary));
}

.game-over {
    --color-primary: #200F21;
    --color-secondary: #382039;
    --color-tertiary: #200F21;
    --bg-color: linear-gradient(180deg, var(--color-secondary), 80%, var(--color-primary));
}

body {
    background: var(--bg-color);
    color: var(--color-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-text);
}

.principal__area {
    border-radius: 1rem;
    text-align: center;
    padding: 8vh 5vw;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.15);
}

.principal__area__titulo {
    color: var(--color-primary);
    font-size: 4em;
    font-weight: var(--font-weight-title);
    z-index: 1;
}

.principal__area__titulo::after {
    content: '';
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.principal__area__texto {
    font-size: 1.5em;
    padding-top: 1em;
}

.principal__area__mensagem {
    font-size: 1.5em;
    padding-top: 1em;
}

.principal__area__mensagem__resposta {
    font-size: 2em;
    color: var(--color-tertiary);
    border: 2px solid var(--color-tertiary);
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

.principal__area__mensagem__feedback {
    color: var(--color-tertiary);
    font-weight: var(--font-weight-title);
}

h2 {
    font-size: 4em;
    font-weight: var(--font-weight-title);
    color: var(--color-primary)
}

h2::after {
    content: '';
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    border: 0.5px solid rgba(150, 150, 150, 0.1);
}

h3 {
    margin-top: 50px;
    font-size: 2em;
    font-weight: var(--font-weight-text);
    color: var(--color-secondary)
}

.btn-jogar {
    font-family: var(--font-family);
    font-weight: var(--font-weight-title);
    color: var(--color-secondary);
    font-size: 1.2rem;
    margin-top: 5%;
    padding: 3vh 3vw;
    background-color: var(--color-primary);
    border: 1px solid var(--bg-color);
    box-shadow: 1px 1px 5px var(--color-secondary);
    border-radius: 1em;
    z-index: 1;
}

.info {
    margin-top: 2%;
    text-shadow: 1px 1px 1px var(--color-tertiary);
    font-size: 1em;
    font-weight: var(--font-weight-text);
}